<%# add_decidim_page_title(translated_attribute(election.title)) %>

<div class="card-divider mb-s">
  <h2 class="item_show__header-title">
    <%= t("title", scope: "decidim.vocdoni.admin.elections.edit") %>
    "<%= translated_attribute(election&.title) %>"
  </h2>
</div>
