<%= render partial: "decidim/shared/component_announcement" %>

<section class="section row">
  <div class="columns">
    <div class="row">
      <h2 id="elections-count" class="order-by__text section-heading">
        <%= render partial: "count" %>
      </h2>
    </div>

    <div class="row">
      <div id="elections" class="columns mediumlarge-12 large-12">
        <%= render partial: "elections" %>
      </div>
    </div>
  </div>
</section>
