// When we migrate to TailwindCSS, this will be removed :D
.vocdoni-logo-wrapper {
  margin-top: 2rem;

  p {
    margin-top: 1rem;
  }
}

// Fix for button primary colors with black links in the admin panel
// We should fix this upstream
.button.primary {
  color: white;
}
