<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
    </h1>
  </div>
  <div class="card-section table-scroll js-votes-results">
    <%= render partial: "results_stats" %>
  </div>
</div>
