<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t("title", scope: "decidim.vocdoni.admin.steps.census") %></h2>
  </div>

  <div class="card-section">
    <p><%= t("description", scope: "decidim.vocdoni.admin.steps.census") %></p>

    <p>TODO: last update was...</p>
    <p><%= t("users_awaiting_census", count: users_awaiting_census, scope: "decidim.vocdoni.admin.steps.census").html_safe %></p>

    <%= link_to_if census_needs_update?, t("update_census", scope: "decidim.vocdoni.admin.steps.census"), update_census_election_steps_path(election), class: "button primary alert", method: :put do
      content_tag(:span, t("update_census", scope: "decidim.vocdoni.admin.steps.census"), class: "button primary alert disabled")
    end %>

  </div>
</div>
