<div class="vocdoni-logo-wrapper text-center">
  <%= link_to "https://vocdoni.io", target: "_blank", rel: "noopener noreferrer" do %>
    <%= image_pack_tag "media/images/vocdoni_logo.svg", alt: "Vocdoni logo", class: "vocdoni-logo" %>
  <% end %>
  <p class="h6"><%= t("steps.powered_by", scope: "decidim.vocdoni.admin") %></p>
</div>

<%= stylesheet_pack_tag "decidim_vocdoni_admin_stylesheet", media: "all" %>
