<%= append_javascript_pack_tag "decidim_vocdoni_admin" %>
<div class="flex flex-col items-center justify-center mt-8">
  <%= link_to "https://vocdoni.io", target: "_blank", rel: "noopener noreferrer", data: { external_link: false } do %>
    <%= image_pack_tag "media/images/vocdoni_logo.png", alt: "Vocdoni logo", class: "vocdoni-logo mx-auto mt-8 mb-8" %>
  <% end %>
  <p><%= t("steps.powered_by_html", scope: "decidim.vocdoni.admin") %></p>
</div>
