<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>

  <div class="card-section">
    <p><%= t(".message", end_time: election.end_time) %></p>

    <p><%= t("url_html", scope: "decidim.vocdoni.admin.steps.created", explorer_vote_url: election.explorer_vote_url) %></p>
  </div>
</div>

<div id="vote-stats">
  <%= render(partial: "vote_stats", locals: { polling: "true" }) %>
</div>
