<div>
  <%= f.text_field :email, label: t(".email"), placeholder: t(".email_placeholder"), autofocus: true %>
</div>
<div>
  <%= f.text_field :token, label: t(".token"), placeholder: t(".token_placeholder") %>
</div>
