<div class="focus__footer">
  <div class="row">
    <%= link_to(
      icon("arrow-left-line", class: "icon", role: "img", "aria-hidden": true) + " " + t("decidim.vocdoni.votes.voting_step.back"),
      "#",
      class: "focus__back",
      data: {
        toggle: ["step-#{questions_count - 1}", "step-#{questions_count}"].join(" ")
      }
    ) %>

    <%= link_to(
      "#",
      class: "button focus__next confirm",
      data: {
        toggle: ["submitting", "step-#{questions_count}"].join(" ")
      }
    ) do %>
      <%= t("decidim.vocdoni.votes.confirm.confirm") %>
      <%= icon("arrow-right-line", class: "icon", role: "img", "aria-hidden": true) %>
    <% end %>
  </div>
</div>
