<%= render("focus_header", header_title: t("decidim.vocdoni.votes.header.submitting")) %>
<div class="focus__content evote">
  <div class="row">
    <h1 class="heading2">
      <%= t("decidim.vocdoni.votes.submitting.header") %>
    </h1>
    <div class="evote__submitting" aria-hidden="true">
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
    </div>
    <p>
      <%= t("decidim.vocdoni.votes.submitting.text") %>
    </p>
  </div>
</div>
