<div class="evote__vocdoni-logo__wrapper text-center">
  <p class="h6"><%= t("powered_by", scope: "decidim.vocdoni.votes.vocdoni_logo") %></p>
  <%= link_to "https://vocdoni.io", target: "_blank", rel: "noopener noreferrer" do %>
  <%= image_pack_tag "media/images/vocdoni_logo.svg", alt: "Vocdoni logo" %>
<% end %>
</div>
