<div>
  <p><%= not_authorized_explanation(authorized_method) %></p>
  <%= link_to authorize_link_text(authorized_method),
              authorized_method.root_path(redirect_url: redirect_url), class: "button" %>
</div>
