<div class="reveal internal-census-modal" id="internalCensusModal" data-reveal role="dialog" aria-modal="true" aria-labelledby="<%= modal_id %>-label">
  <div class="reveal__header">
    <h3 id="internalCensusModal-label" class="reveal__title"><%= t(".not_authorized.title") %></h3>
    <button class="close-button" data-close aria-label="Close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% census_authorize_methods.each do |authorized_method| %>
    <%= render_internal_census(authorized_method, granted_authorizations) %>
  <% end %>
</div>
