<%= decidim_modal id: "census-authorization-modal" do %>
  <div data-dialog-container>
    <%= icon "information-line" %>
    <h3 class="h3" id="dialog-internal-census-modal-label" tabindex="-1" data-dialog-title>
      <%= t("decidim.vocdoni.census_authorization_modal.not_authorized.title") %>
    </h3>
    <p id="dialog-desc-internal-census-modal-info">
      <% census_authorize_methods.each do |authorized_method| %>
        <%= render_internal_census(authorized_method, granted_authorizations) %>
      <% end %>
    </p>
  </div>
<% end %>
