<div class="card">
  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.translated :editor, :description %>
    </div>

    <%= render partial: "decidim/admin/shared/gallery", locals: { form: form } %>

    <div class="row column">
      <%= form.text_field :stream_uri %>
    </div>
  </div>
</div>
